.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: lightgrey;
    -webkit-justify-content: center;
    justify-content: center;    
}

.flex-item {
    margin: 10px;
}

.iPhoneButton{

	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #333;

}

.myImageClass{
	cursor: pointer;
}